name: supabase_schema_library
repository: https://github.com/pckimlong/supabase_schema_library
publish_to: none
environment:
  sdk: ^3.10.0-0

workspace:
  - supabase_schema
  - supabase_schema_generator
