name: supabase_schema_library
repository: https://github.com/pckimlong/supabase_schema_library
environment:
  sdk: ^3.10.0-0

workspace:
  - supabase_schema
  - supabase_schema_generator

melos:
  packages:
    - supabase_schema
    - supabase_schema_generator
    - supabase_schema/example

  scripts:
    analyze:
      run: dart analyze .
      exec:
        concurrency: 1
      description: Run `dart analyze` in all packages.

    test:
      run: flutter test
      exec:
        concurrency: 1
      description: Run `flutter test` in all packages.
      packageFilters:
        dirExists: test
      failFast: false

    format:
      run: dart format .
      exec:
        concurrency: 1
      description: Run `dart format` in all packages.

    doc:
      run: dart doc .
      exec:
        concurrency: 1
      description: Generate documentation for all packages.

  command:
    version:
      # Generate commit links in package changelogs.
      linkToCommits: true
      # Only allow versioning to happen on main branch.
      branch: main
      # A message to include in the commit created by melos version.
      message: |
        chore(release): publish packages

        {new_package_versions}

dev_dependencies:
  melos: ^7.3.0
