name: supabase_schema_library
repository: https://github.com/pckimlong/supabase_schema_library
environment:
  sdk: ^3.10.0-0

workspace:
  - supabase_schema
  - supabase_schema_generator
dev_dependencies:
  melos: ^7.3.0
